In [6]:
%pip install pandas SQLAlchemy pymysql

import pandas as pd
from sqlalchemy import create_engine, text
from getpass import getpass

Requirement already satisfied: pandas in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: SQLAlchemy in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (2.0.44)
Requirement already satisfied: pymysql in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (1.1.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cubea\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\users\cubea\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
def get_engine_prompt():

    print("Introduce las credenciales de MySQL (Enter para aceptar el valor por defecto entre [corchetes]):")
    user = input("Usuario [root]: ").strip() or "root"
    password = getpass(f"Password de '{user}': ")
    host = input("Host [localhost]: ").strip() or "localhost"
    port = input("Puerto [3306]: ").strip() or "3306"
    db   = input("Base de datos [sakila]: ").strip() or "sakila"

    uri = f"mysql+pymysql://{user}:{password}@{host}:{port}/{db}"
    engine = create_engine(uri, pool_pre_ping=True)
    return engine

engine = get_engine_prompt()
engine

Introduce las credenciales de MySQL (Enter para aceptar el valor por defecto entre [corchetes]):

Engine(mysql+pymysql://root:***@localhost:3306/sakila)

In [11]:
def _validate_month_year(month: int, year: int) -> None:
    if not (1 <= int(month) <= 12):
        raise ValueError("month must be in 1..12")
    if not (1900 <= int(year) <= 2100):
        raise ValueError("year must look like a 4-digit year, e.g., 2005")

def rentals_month(engine, month: int, year: int) -> pd.DataFrame:
    """
    Devuelve las filas de sakila.rental para ese mes/aÃ±o.
    Columnas: rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update
    """
    _validate_month_year(month, year)
    query = text("""
        SELECT
            r.rental_id,
            r.rental_date,
            r.inventory_id,
            r.customer_id,
            r.return_date,
            r.staff_id,
            r.last_update
        FROM rental AS r
        WHERE MONTH(r.rental_date) = :m
          AND YEAR(r.rental_date)  = :y
        ORDER BY r.customer_id, r.rental_date
    """)
    with engine.connect() as conn:
        df = pd.read_sql(query, conn, params={"m": int(month), "y": int(year)})
    return df

In [12]:
def _col_name(month: int, year: int) -> str:
    return f"rentals_{int(month):02d}_{int(year)}"

def rental_count_month(df: pd.DataFrame, month: int, year: int) -> pd.DataFrame:
    """
    Cuenta rentals por customer_id y nombra la columna como rentals_MM_YYYY.
    Devuelve columnas: customer_id, rentals_MM_YYYY
    """
    _validate_month_year(month, year)
    col = _col_name(month, year)

    if df.empty:
        return pd.DataFrame(columns=["customer_id", col])

    if "customer_id" not in df.columns:
        raise KeyError("Input DataFrame must contain a 'customer_id' column.")

    counts = (
        df.groupby("customer_id").size().reset_index(name=col)
    )
    return counts

In [13]:
def _detect_count_col(df: pd.DataFrame) -> str:
    cols = [c for c in df.columns if c != "customer_id"]
    if len(cols) != 1:
        raise ValueError("Expected exactly one non-'customer_id' column in each aggregated DataFrame.")
    return cols[0]

def compare_rentals(df_a: pd.DataFrame, df_b: pd.DataFrame,
                    label_a=None, label_b=None,
                    only_both_active: bool = False) -> pd.DataFrame:
    """
    Outer-join por customer_id; difference = (col_b - col_a).
    Si only_both_active=True, filtra a clientes con actividad en ambos meses (>0).
    """
    col_a = _col_name(*label_a) if label_a else _detect_count_col(df_a)
    col_b = _col_name(*label_b) if label_b else _detect_count_col(df_b)

    merged = pd.merge(
        df_a[["customer_id", col_a]],
        df_b[["customer_id", col_b]],
        on="customer_id",
        how="outer"
    ).fillna(0)

    merged[col_a] = merged[col_a].astype(int)
    merged[col_b] = merged[col_b].astype(int)
    merged["difference"] = merged[col_b] - merged[col_a]

    if only_both_active:
        merged = merged[(merged[col_a] > 0) & (merged[col_b] > 0)]

    return merged.sort_values("customer_id").reset_index(drop=True)

In [14]:
MAY, JUNE, YEAR = 5, 6, 2005

# 5.1 Traer rentals crudos
df_may = rentals_month(engine, MAY, YEAR)
df_jun = rentals_month(engine, JUNE, YEAR)

print(f"Filas mayo: {len(df_may)} | Filas junio: {len(df_jun)}")

# 5.2 Agregar por customer_id
agg_may = rental_count_month(df_may, MAY, YEAR)
agg_jun = rental_count_month(df_jun, JUNE, YEAR)

# 5.3 Comparar meses (todos los clientes)
all_customers = compare_rentals(agg_may, agg_jun, label_a=(MAY, YEAR), label_b=(JUNE, YEAR), only_both_active=False)
all_customers.head(10)

Filas mayo: 1156 | Filas junio: 2311

   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1                2                7           5
1            2                1                1           0
2            3                2                4           2
3            4                0                6           6
4            5                3                5           2
5            6                3                4           1
6            7                5                5           0
7            8                1                3           2
8            9                3                2          -1
9           10                1                5           4

In [15]:
both_active = compare_rentals(agg_may, agg_jun, label_a=(MAY, YEAR), label_b=(JUNE, YEAR), only_both_active=True)
both_active.head(10)

   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1                2                7           5
1            2                1                1           0
2            3                2                4           2
3            5                3                5           2
4            6                3                4           1
5            7                5                5           0
6            8                1                3           2
7            9                3                2          -1
8           10                1                5           4
9           11                1                3           2